In [1]:
from sentiment.model import model

import numpy as np
import keras as K
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

Using TensorFlow backend.

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('train.xlsx')

In [4]:
df.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [5]:
import re
import string
def remove_pattern(input_txt, pattern='@[\w]*'):
    r = re.findall(str(pattern), str(input_txt))
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [6]:
df['tweet'] = df.SentimentText.apply(lambda x:remove_pattern(x,'@[\w]*'))

In [7]:
df['tweet'] = df['tweet'].str.replace("[^a-zA-Z#]", " ")

In [8]:
df['tweet']=df.tweet.apply(lambda x: " ".join([w for w in str(x).split() if len(w)>2]))

In [9]:
df.head()

,ItemID,Sentiment,SentimentText,tweet
0,1,0,is so sad for my APL frie...,sad for APL friend
1,2,0,I missed the New Moon trail...,missed the New Moon trailer
2,3,1,omg its already 7:30 :O,omg its already
3,4,0,.. Omgaga. Im sooo im gunna CRy. I'...,Omgaga sooo gunna CRy been this dentist since ...
4,5,0,i think mi bf is cheating on me!!! ...,think cheating

In [10]:
d = K.datasets.imdb.get_word_index()
def pad(words):
    review = []
    for word in words:
        if word not in d: 
            review.append(2)
        elif d[word]+3<20000:
            review.append(d[word]+3)
    return review

In [11]:
tweets=K.preprocessing.sequence.pad_sequences( df.tweet.apply(lambda x:pad(x.split())),truncating='pre', padding='pre', maxlen=80)

In [36]:
from nltk.corpus import stopwords
stopwords=set(stopwords.words('english'))
from nltk.stem import PorterStemmer, WordNetLemmatizer
stemmer=PorterStemmer()
lemmatizer=WordNetLemmatizer()
import re
from nltk import pos_tag
def ner(tokens):
    tagged_sentences = nltk.pos_tag(tokens)
    ne_chunked_sents = nltk.ne_chunk(tagged_sentences)

    # extract all named entities
    named_entities = []
    for tagged_tree in ne_chunked_sents:
        if hasattr(tagged_tree, 'label'):
            entity_name = ' '.join(c[0] for c in tagged_tree.leaves()) #
            entity_type = tagged_tree.label() # get NE category
            named_entities.append((entity_name, entity_type))
    
def pre_process(text:str):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    text = text.translate(str.maketrans("","", string.punctuation))
    text = text.strip()
    from nltk.tokenize import word_tokenize
    tokens = word_tokenize(text)

In [37]:
df.head()

,ItemID,Sentiment,SentimentText,tweet
0,1,0,is so sad for my APL frie...,sad for APL friend
1,2,0,I missed the New Moon trail...,missed the New Moon trailer
2,3,1,omg its already 7:30 :O,omg its already
3,4,0,.. Omgaga. Im sooo im gunna CRy. I'...,Omgaga sooo gunna CRy been this dentist since ...
4,5,0,i think mi bf is cheating on me!!! ...,think cheating

In [38]:
pre_process(str(df.iloc[4]['SentimentText'])

(['think', 'mi', 'bf', 'cheat', 'tt', 'sfsaf', 'sadass', 'sdasdn', 'adsa'],
 {'i': 'NN',
  'think': 'VBP',
  'mi': 'NN',
  'bf': 'NN',
  'is': 'VBZ',
  'cheating': 'VBG',
  'on': 'IN',
  'me': 'PRP',
  'tt': 'JJ',
  'sfsaf': 'JJ',
  'sadass': 'NN',
  'sdasdn': 'NN',
  'adsa': 'NN'})

In [20]:
import string

In [39]:
pre_process('naga sitaram is a good boy')

(['naga', 'sitaram', 'good', 'boy'],
 {'naga': 'JJ',
  'sitaram': 'NN',
  'is': 'VBZ',
  'a': 'DT',
  'good': 'JJ',
  'boy': 'NN'})